@model SubInvestorSetup.Models.InvestorLink

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>InvestorLink</h4>
<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <label asp-for="InvestorNo" class="control-label"></label>
                    <input asp-for="InvestorNo" class="form-control" />
                    <span asp-validation-for="InvestorNo" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-3">
                    <label asp-for="InvestorSubFrom" class="control-label"></label>
                    <input asp-for="InvestorSubFrom" class="form-control" />
                    <span asp-validation-for="InvestorSubFrom" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-3">
                    <label asp-for="InvestorSubTo" class="control-label"></label>
                    <input asp-for="InvestorSubTo" class="form-control" />
                    <span asp-validation-for="InvestorSubTo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <label asp-for="ModelAfterInvestorNo" class="control-label"></label>
                    <input asp-for="ModelAfterInvestorNo" class="form-control" />
                    <span asp-validation-for="ModelAfterInvestorNo" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-3">
                    <label asp-for="ModelAfterInvestorSub" class="control-label"></label>
                    <input asp-for="ModelAfterInvestorSub" class="form-control" />
                    <span asp-validation-for="ModelAfterInvestorSub" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedDate" class="control-label"></label>
                <input asp-for="ApprovedDate" class="form-control" />
                <span asp-validation-for="ApprovedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedBy" class="control-label"></label>
                <input asp-for="ApprovedBy" class="form-control" />
                <span asp-validation-for="ApprovedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeployedDate" class="control-label"></label>
                <input asp-for="DeployedDate" class="form-control" />
                <span asp-validation-for="DeployedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeployedBy" class="control-label"></label>
                <input asp-for="DeployedBy" class="form-control" />
                <span asp-validation-for="DeployedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedDate" class="control-label"></label>
                <input asp-for="DeletedDate" class="form-control" />
                <span asp-validation-for="DeletedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedBy" class="control-label"></label>
                <input asp-for="DeletedBy" class="form-control" />
                <span asp-validation-for="DeletedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedReason" class="control-label"></label>
                <input asp-for="DeletedReason" class="form-control" />
                <span asp-validation-for="DeletedReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
